<div class="dashboard">
	<div class="team">
		<div class="{{vm.team.short_name}} logo selecting">
			<h3>My Team</h3>
		</div>
	</div>
	<div class="rounds">
		<h3>Rounds</h3>
		<span class="startStop glyphicon glyphicon-play"></span>
		<ul>
			<li ng-class="{currentRound: r === vm.round }" ng-repeat="r in vm.rounds">{{r}}</li>
		</ul>
	</div>

	<div class="draftOrder">
		<h3>Round {{vm.round}}</h3>
		<div class="upcomingPicks scrollbar style-1">
			<div class="pick {{p.team.short_name}} logo" ng-repeat="p in vm.picks">
				<div class="pickNumber">
					{{p.pick_num}}
				</div>
			</div>
		</div>
	</div>
	<div class="draftPool">
		<h3>Drafted</h3>
		<div class="prospectList scrollbar style-1">
			<prospect-card ng-repeat="p in vm.drafted" prospect="p" />
		</div>
	</div>
	<div class="draftPool">
		<h3>Prospects</h3>
		<div class="prospectList scrollbar style-1">
			<prospect-card ng-repeat="p in vm.prospects" prospect="p" ng-click="vm.selectProspect(p)" />
		</div>
	</div>
</div>