@import '../../Css/TeamLogos.less';

.dashboard {
	h1, h2, h3 {
		background-color: rgba(0, 0, 0, 0.8);
		color: #eee;
		margin: 0;
		padding: 6px 24px;
	}  

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 6px 0 0 8px;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}

.upcomingPicks {
	color: white;
	font-size: 42px;
	list-style: none;
	line-height: @logoHeight;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 4px #000000, 
				 2px 1px 4px #000000, 
				 1px 2px 4px #000000,
				 0 0 3px #000000,
				 -1px 0 4px #000000,
				 -2px 0 4px #000000;
	width: 320px;
}

.upcomingPicks .pickNumber {
	text-align: center;
	width: 64px;
	background-color: rgba(0,0,0, 0.6);	
}

.upcomingPicks {
	height: 505px;
}

.pick, .prospectCard {
	margin-bottom: 5px;
}

.rounds {
	line-height: 48px;
	width: 926px;
	vertical-align: text-top;
}

.rounds ul {
	display: inline-block;
	list-style: none;
	margin: 6px 0 0 24px;
	padding: 0;
}

.rounds li {
	display: inline-block;
	font-size: 24px;
	height: 48px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 32px;
}

.rounds .currentRound {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.rounds .currentRound, .rounds .finished {
	cursor: pointer;
}

.dashboard .team, .rounds, .rounds li:not(:last-child), .draftOrder, .draftPool {
	margin-right: 12px;
}

.rounds, .team {
	height: 96px;
	margin-bottom: 6px;
}

.startStop {
	font-size: 16px;
	margin-left: 12px;
}