<div class="dashboard">
	<div class="team">
		<div class="{{vm.draft.team.short_name}} logo selecting">
			<h3>My Team</h3>
		</div>
	</div>
	<div class="rounds">
		<h3>Rounds</h3>
		<div class="controlButton">
			<a class="start" ng-click="vm.startSim()" ng-show="!vm.draft.isInProgress()">Start Draft</a>
			<a class="stop" ng-click="vm.pauseSim()" ng-show="vm.draft.isInProgress()">Pause Draft</a>
		</div>
		<ul>
			<li ng-class="{selectedRound: r === vm.draftedSearch.selection.round_num, selectable: r <= vm.draft.round }" ng-repeat="r in vm.draft.rounds" ng-click="vm.filterByRound(r)">{{r}}</li>
		</ul>
	</div>

	<div class="draftOrder">
		<h3>Round {{vm.draft.round}}</h3>
		<div class="upcomingPicks scrollbar style-1">
			<div class="pick {{p.team.short_name}} logo" ng-repeat="p in vm.draft.picks">
				<div class="pickNumber">
					{{p.pick_num}}
				</div>
			</div>
		</div>
	</div>
	<div class="draftPool">
		<h3>Drafted</h3>
		<div class="prospectList scrollbar style-1">
			<div ng-repeat="prospect in vm.draft.drafted | filter: { selection: { round_num: vm.draftedSearch.selection.round_num } }" ng-include src="'App/ProspectCard/DraftedCard.html'"></div>
		</div>
	</div>
	<div class="draftPool">
		<h3>Prospects</h3>
		<div class="prospectList scrollbar style-1">
			<div ng-repeat="prospect in vm.draft.prospects" ng-include src="'App/ProspectCard/ProspectCard.html'" ng-click="vm.selectProspect(prospect)"></div>
		</div>
	</div>
</div>